<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {'title': 'carrito'}) %> 
<body>
    <%- include('../partials/header.ejs') %> 
    <section class="contenedorCarrito">
        <h3>Carrito</h3>
        <div class="contenedorCarritoProducto">
            <p>Producto:</p>
            <p>Precio:</p>
            <p>Cantidad:</p>
            <p>Subtotal:</p>
        </div>
        <div class="contenedorCarritoDetallesProducto">
            <div>
                <p>XX</p>
            </div>
            <p>XX</p>
            <p>XX</p> 
            <p>XX</p>
        </div>
        <div class="inputsCarrito">
            <input type="text" placeholder="Codigo de Cupon">
            <button class='btnMain'>Aplicar Descuento</button>
        </div>
        <div class="contenedorTotalCarrito">
            <div class="descripcionTotalCarrito">
                <span>Total:</span>
                <span class="precioFinal">XX</span>
            </div>
            <div>
                <button class="btn btn-success">Finalizar Compra</button>
            </div>
        </div>
       
    </section>
  

    <%- include('../partials/footer.ejs') %> 

</body>
</html>