<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
        <div>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Wishlist</a></li>
            </ul>
        </div>
    </nav>

    <div class="contenedorHome">
        <!-- banner de novedades -->
        <img class="contenedorBanner" src="/public/img/banner.jpg" alt= "">
        <!-- botonesHome -->
        <div class="contenedorBotonesHome">
            <a class="bontonesHome" href="#">Arma tu PC</a>
            <a class="bontonesHome" href="#">Productos</a>
            <a class="bontonesHome" href="#">Ayuda</a>
        </div>
        <!-- barra ofertas con boton mas -->
        <div class="contenedorOfertas">
        <p>ofertas</p> <a href="#">más</a>
            </div>
        <!-- seccion ofertas -->
        <div class="contenedorOfertasSeccion">
            <!-- Articulo Ofertas 1 -->
            <div class='tarjetaProducto'>
                <div><img class='imagenProducto' src="/public/img/auriculares.jpg" alt= ""></div>
                <div class='infoProducto'>
                    <div class='nombreProducto'>
                        Auriculares
                    </div>
                    <div class='precioProducto'>
                        <p class='precioTotalProducto'>$1.917,00</p>
                        <p class='precioDescuentoProducto'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo Ofertas 2 -->
            <div class='tarjetaProducto'>
                <div><img class='imagenProducto' src="/public/img/auriculares.jpg" alt= ""></div>
                <div class='infoProducto'>
                    <div class='nombreProducto'>
                        Auriculares
                    </div>
                    <div class='precioProducto'>
                        <p class='precioTotalProducto'>$1.917,00</p>
                        <p class='precioDescuentoProducto'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo Ofertas 3 -->
            <div class='tarjetaProducto'>
                <div><img class='imagenProducto' src="/public/img/auriculares.jpg" alt= ""></div>
                <div class='infoProducto'>
                    <div class='nombreProducto'>
                        Auriculares
                    </div>
                    <div class='precioProducto'>
                        <p class='precioTotalProducto'>$1.917,00</p>
                        <p class='precioDescuentoProducto'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo Ofertas 4 -->
            <div class='tarjetaProducto'>
                <div><img class='imagenProducto' src="/public/img/auriculares.jpg" alt= ""></div>
                <div class='infoProducto'>
                    <div class='nombreProducto'>
                        Auriculares
                    </div>
                    <div class='precioProducto'>
                        <p class='precioTotalProducto'>$1.917,00</p>
                        <p class='precioDescuentoProducto'>15% OFF</p>
                    </div>
                </div>
            </div>
        </div> 
        barra lo mas vendido  boton mas
        <div class="contenedorOfertas contenedorVendido">
               <!-- seccion lo mas vendido -->
               <p>lo mas vendido</p> <a href="#">más</a>
        </div>

            <div class="contenedorOfertasSeccion contenedorVendidoSeccion">
                <!-- Articulo lo + vendido 1 -->
            <div class='tarjetaProducto tarjetaVendido'>
                <div><img class='imagenProducto imagenVendido' src="/public/img/teclado.jpg" alt= ""></div>
                <div class='infoProducto infoVendido'>
                    <div class='nombreProducto nombreVendido'>
                        Teclado
                    </div>
                    <div class='precioProducto precioVendido'>
                        <p class='precioTotalProducto precioTotalVendido'>$1.917,00</p>
                        <p class='precioDescuentoProducto precioDescuentoVendido'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo lo + vendido 2 -->
            <div class='tarjetaProducto tarjetaVendido'>
                <div><img class='imagenProducto imagenVendido' src="/public/img/teclado.jpg" alt= ""></div>
                <div class='infoProducto infoVendido'>
                    <div class='nombreProducto nombreVendido'>
                        Teclado
                    </div>
                    <div class='precioProducto precioVendido'>
                        <p class='precioTotalProducto precioTotalVendido'>$1.917,00</p>
                        <p class='precioDescuentoProducto precioDescuentoVendido'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo lo + vendido 3 -->
            <div class='tarjetaProducto tarjetaVendido'>
                <div><img class='imagenProducto imagenVendido' src="/public/img/teclado.jpg" alt= ""></div>
                <div class='infoProducto infoVendido'>
                    <div class='nombreProducto nombreVendido'>
                        Teclado
                    </div>
                    <div class='precioProducto precioVendido'>
                        <p class='precioTotalProducto precioTotalVendido'>$1.917,00</p>
                        <p class='precioDescuentoProducto precioDescuentoVendido'>15% OFF</p>
                    </div>
                </div>
            </div>
            <!-- Articulo lo + vendido 4 -->
            <div class='tarjetaProducto tarjetaVendido'>
                <div><img class='imagenProducto imagenVendido' src="/public/img/teclado.jpg" alt= ""></div>
                <div class='infoProducto infoVendido'>
                    <div class='nombreProducto nombreVendido'>
                        Teclado
                    </div>
                    <div class='precioProducto precioVendido'>
                        <p class='precioTotalProducto precioTotalVendido'>$1.917,00</p>
                        <p class='precioDescuentoProducto precioDescuentoVendido'>15% OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="redesSociales">
            <p>Redes Sociales</p>
            <div>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="linksFooter">
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
    </footer>
</body>
</html>