<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title title="Product details">Product details</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <!-- navbar -->

    </nav>

    <!-- producto elegido -->

    <section class="producto">
        <img src="" alt="" class="imagenProducto">
        <h3 class="nombreProducto">Product name</h3>
        <h4 class="botonProducto">Price</h4> <!-- en un cuadrado -->
            <div class="ofertaProducto">
                <p class="oferta"><!-- oferta e icon --></p>
                <p class="oferta"><!-- oferta e icon --></p>
            </div>
        <button class="añadirProducto"><!--icon--> Añadir producto</button>
        <button class="añadirProducto"><!--icon--> Comprar producto</button>
        <a href="#" class="pagoProducto">Metodos de pago</a>
    </section>
    <!-- descripcion del producto -->
    <section class="descripcionProducto">
        <p class="descripcionDelProducto"></p>
    </section>

    <!-- productos similares -->

    <section class="similares">
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
        </div>
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
        </div>
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
        </div>
    </section>

    <!-- footer -->
    <footer>
        
    </footer>
</body>
</html>