<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title title="Product details">Product details</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

    <!-- navbar -->

    <nav>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
        <div>
            <ul>
                <li><a href="./index.html">Menu</a></li>
                <li><a href="./productDetail.html">Productos</a></li>
                <li><a href="./login.html">Log In</a></li>
                <li><a href="./productCart.html">Carrito</a></li>
                <li><a href="./wishlist.html">Wishlist</a></li>
            </ul>
        </div>
    </nav>

    <!-- producto elegido -->

    <section class="producto">
        <article class="caruselNombre">
            <!--carousel-->
            
            <h2 class="nombreDelProducto">Nombre producto</h2>
            <div class="contenido">
                <div class="contenidoCarousel">
                    <figure><img src="/public/img/mouse.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/auriculares.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/mouse.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/auriculares.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/auriculares.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/mouse.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/mouse.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/auriculares.jpg" class="imgCarousel"></figure>
                    <figure><img src="/public/img/mouse.jpg" class="imgCarousel"></figure>
                </div>
            </div>  

        </article>
        <article class="datosProducto">
            <h4 class="precioProducto">$999</h4> <!-- en un cuadrado -->
            <button class="añadirProducto"><i class="far fa-cart-plus"></i> Añadir al carrito</button> <br>
            <button class="añadirProducto2"> Comprar</button> <br>
            <a href="#" class="pagoProducto">Metodos de pago</a>
         <article class="ofertaProducto">
             <p class="oferta1"><i class="fas fa-shipping-fast"></i> envios a todo el pais</p>
             <p class="oferta2"><i class="fas fa-percent"></i> hasta 12 cuotas sin interes</p>
         </article>
        </article>
    </section>
    <div class="descripcionProducto">
        <p class="descripcionDelProducto">Lorem ipsum dolor sit amet consectetur adipisicing <br>
            -elit. Ex omnis optio soluta repellat suscipit, <br>
            -culpa maiores, molestias iure  totam  nesciunt dicta saepe  sit tempore doloremque <br>
            -temporibus quae asperiores voluptatibus itaque dignissimos aperiam! Voluptates, ipsum sapiente!
        </p>
    </div>
    <h2 class="busquedas">en base a busquedas similares</h2>
    <!-- productos similares -->
    <section class="similares">
        <div class="productoSimilar p1"  data-aos="zoom-in-up">
            <h3 class="nombreSimilar">nombre</h3>
            <img src="/public/img/auriculares.jpg" alt="" class="imagenSimilar">
            <p class="precioSimilar">$Precio</p>
            <button class="añadirProducto2"> Comprar</button> 
        </div>
        <div class="productoSimilar p2" data-aos="zoom-in-up">
            <h3 class="nombreSimilar">nombre</h3>
            <img src="/public/img/mouse.jpg" alt="" class="imagenSimilar">
            <p class="precioSimilar">$Precio</p>
            <button class="añadirProducto2"> Comprar</button> 

        </div>
        <div class="productoSimilar p3" data-aos="zoom-in-up">
            <h3 class="nombreSimilar ">nombre</h3>
            <img src="/public/img/teclado.jpg" alt="" class="imagenSimilar">
            <p class="precioSimilar">$Precio</p>
            <button class="añadirProducto2"> Comprar</button>

        </div>
        <div class="productoSimilar p4" data-aos="zoom-in-up">
            <h3 class="nombreSimilar">nombre</h3>
            <img src="/public/img/mouse.jpg" alt="" class="imagenSimilar">
            <p class="precioSimilar">$Precio</p>
            <button class="añadirProducto2"> Comprar</button>

        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="redesSociales">
            <p>Redes Sociales</p>
            <div>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="linksFooter">
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>


 

