<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title title="Product details">Product details</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- navbar -->

    <nav>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
        <div>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="/views/login.html">Log In</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Wishlist</a></li>
            </ul>
        </div>
    </nav>

    <!-- producto elegido -->

    <section class="producto">
        <article class="caruselNombre">
            <h1 class="nombreProducto">Product name</h1>
            <!--carousel-->
            <img src="/public/img/auriculares.jpg" alt="">
            
        </article>
        <article class="datosProducto">
            <h4 class="precioProducto">$999</h4> <!-- en un cuadrado -->
            <button class="añadirProducto"><i class="far fa-cart-plus"></i> Añadir al carrito</button> <br>
            <button class="añadirProducto"> Comprar</button> <br>
            <a href="#" class="pagoProducto">Metodos de pago</a>
         <article class="ofertaProducto">
             <p class="oferta"><i class="fas fa-shipping-fast"></i> envio</p>
             <p class="oferta"><i class="fas fa-percent"></i> cuotas</p>
         </article>
        </article>
    </section>
    <div class="descripcionProducto">
        <p class="descripcionDelProducto">descripcion</p>
    </div>
    <h4 class="busquedas">en base a busquedas similares</h4>
    <!-- productos similares -->
    <section class="similares">
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
            <a href="#">Comprar</a>
        </div>
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
            <a href="#">Comprar</a>
        </div>
        <div class="productoSimilar">
            <img src="#" alt="" class="imagenSimilar">
            <h3 class="nombreSimilar">nombre</h3>
            <p class="precioSimilar">$Precio</p>
            <a href="#">Comprar</a>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="redesSociales">
            <p>Redes Sociales</p>
            <div>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="linksFooter">
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="contenedorLogo">
            <img src="/public/img/logo.svg" alt="">
        </div>
    </footer>
</body>
</html>


 

