.productsAdmin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adminList{
    width: 90%;
    display: flex;
    padding-top: 3%;

}
.adminImg {
    border: 1px solid black;
    width: 12%;
    height: 50%;
    align-self: center;
}
.listCard {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: row;

}

.adminProductName {
    align-self: center;
    text-align: center;
    width: 30%;
    padding-left: 5%;
    
}

.adminProductPrice{
    align-self: center;
    text-align: center;
    width: 12%;
    padding-left: 5%;
    padding-right: 10%;
}

.adminProductDiscount{
    align-self: center;
    text-align: center;
    width: 12%;
    padding-left: 5%;
    padding-right: 10%;
}

.adminButtons{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
}

.modifyProduct{
    margin-right: 10px;
}

.productsAdmin{
    margin-left: 20px;
}

.titleButtonEdit{
    margin-left: 20px;
}


@media (max-width: 724px){
    .adminProductDiscount, .adminProductPrice{
        display: none;
    }
}