.profile-img {
    width: 200px; /* alto y ancho específico para que el círculo sea redondo */
    height: 200px;
    overflow: hidden; /* oculta todo el contenido fuera de la caja */
    position: relative;
  }
  
  .profile-img img {
    position: absolute;
    width: 150%; /* Soluciona el problema de ubicación de las imágenes en cajas circulares */
    left: -25%; /* posiciona al centro del contenedor la imagen */
  }
  
  .profile-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    background: #212529b8;
    color: #fff;
    text-align: center;
    padding: 10px 0 25px;
   
  }
  
  .profile-img .file input {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer; /* manita de selección al hacer hover */
  }
  .formCategory {
    display: block;
    width: 32%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .borrarproducto {
    color: #fff;
    background-color: #f50707;
    border-color: #f50707;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: color .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
  }

  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #b26d1f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #a0441a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #5e12eb;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #14c7e7;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #363837;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .namePrice{
    display: block;
    margin: 5px;
  }

  .categoryDiscount{
    /*display: block;*/
  }

  .buttonEdit{
    display: block;
  }

  .actualImg{
    display: block;
  }

  .currentImg{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }