/*nav {
    background: rgb(175,227,192);
    background: radial-gradient(circle, rgba(175,227,192,0.7693452380952381) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 0px 20px rgb(99, 99, 99);
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    flex-direction: row;
}

.contendedorLogo img {
    width: 100%;
}
nav div ul li a{
    color: black;
}
nav ul li{
    display: inline-block;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav div:nth-child(3){
    display: flex;
    justify-content: flex-end;
}

.nav{
    background-color: red;
}*/

nav {
    /* background: radial-gradient(circle, rgb(66, 65, 65), rgb(66, 65, 65)); */
    background: radial-gradient(circle, rgb(45, 65, 65), rgb(66, 65, 65));
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    flex-direction: row;
}

.contendedorLogo img {
    width: 100%;
}
nav div ul li a{
    color: white;
}
nav ul li{
    display: inline-block;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.linkNavHover:hover{
    color: white;
}

nav div:nth-child(3){
    display: flex;
    justify-content: flex-end;
}

.buttonNav{
  background-color: #535051;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonNav:hover,
.buttonNav:focus {
    border: 1px solid white;
    background: radial-gradient(circle, rgb(45, 65, 65), rgb(66, 65, 65));
  color: white;
}

.nav{
    background-color: rgb(68, 66, 66);
}

/* footer */

.cardPromos{
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 8px;
    background-color: #636363;    
    border: 1px  black;
    margin: 20px;
}

.promoCards{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconCard{
    margin-top: 10px;
    font-size: 7rem;
    text-align: center;
    color: rgb(25, 31, 37);
    margin-bottom: auto;
}

.promoMethods{
    text-align: center;
}

.textCard{
    width: 89%;
    margin-left: 18px;
}

.footer{
    background-color: rgb(46, 45, 45);
    width: 100%;
}

.copyText{
    color: #eee;
    text-align: center;
}

.socialMedia{
    text-align: center;
}

.iconSocialMedia{
    color: wheat;
    font-size: 2rem;
    margin: 18px;
}

.iconCard:hover{
    color: wheat;
    transition: all 0.3s;
}

.personalInfo{
    text-align: center;
}

.ubicacion{
    display: inline;
    margin: 20px;
}

.iconUbicacion{
    font-size: 1.4rem;
    color: wheat;
}

.ubicacionLink{
    text-decoration: none;
    color: white;
}

.link{
    margin-left: 8px;
    color: wheat;
    text-decoration: none;
}

.link:hover{
    text-decoration:underline;
}

@media (max-width: 400px){
    .cardPromos{
        width: 95%;
        height: 150px;
        margin: 10px;
        border-radius: 8px;
        background-color: #636363;    
        border: 1px  black;
        margin: 20px;
    }
    
    .promoCards{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .iconCard{
        margin-top: 5px;
        font-size: 3.5rem;
        text-align: center;
        color: rgb(25, 31, 37);
        margin-bottom: auto;
    }
    .textCard{
        font-size: 0.8rem;
        width: 89%;
        margin-left: 18px;
    }
    .personalInfo{
        width: 90%;
    }
    .link{
        display: block;
    }
}

@media (max-width: 764px){
    .cardPromos{
        width: 85%;
        height: 150px;
        margin: 10px;
        border-radius: 8px;
        background-color: #636363;    
        border: 1px  black;
        margin: 20px;
    }
    
    .promoCards{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .iconCard{
        margin-top: 5px;
        font-size: 3.5rem;
        text-align: center;
        color: rgb(25, 31, 37);
        margin-bottom: auto;
    }
    .textCard{
        width: 89%;
        margin-left: 18px;
    }
}