
.miniBannerPagos {
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    display: -webkit-flex;
    display: flex;
    height: 90px;
    margin: 10px auto;
    width: 85%;
    overflow: hidden;
    border: 1px rgb(230, 221, 221);
}

.pOffer{
    margin-left: 40px;
    flex: 1 0 auto;
    font-size: 1.1rem;
    height: 90px;
    padding: 15px;
    white-space: nowrap;
    display: inline-block;
    font-weight:200;
    margin-top: 5px;
    align-items: center;
}

.iconsBanner{
    color: rgb(59, 70, 226);
    margin-right: 4px;
}

.btcIcon{
    color: #D4AF37;
    margin-right: 4px;
}

/* media */
@media (min-width: 300px){
    .pOffer{
        display: none;
    }
    .iconsBanner, .btcIcon{
        text-align: center;
        margin: 0 auto;
        font-size: 1.4rem;
    }
    .contenedorOfertasSeccion {
        flex-direction: row;
    }
    .contenedorVendidoSeccion  {
        flex-direction: row;
    }
    .tarjetaProducto{
        width: 72%;
        overflow: hidden;
    }
    .linkArrow{
        display: none;
    }
    
    .miniBannerPagos {
        background-color: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        display: -webkit-flex;
        align-items: center;
        flex-wrap: wrap;
        height: 90px;
        margin: 0 auto;
        max-width: 95%;
        overflow: hidden;
        border: 1px rgb(230, 221, 221);
    }
}


@media (min-width: 364px) {
    .pOffer{
        display: none;
    }
    .iconsBanner, .btcIcon{
        font-size: 1.6rem;
    }
    .contenedorOfertasSeccion {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
    .tarjetaProducto {
            width: 41%;
            
            }
}

@media (min-width: 564px) {
    .iconsBanner, .btcIcon{
        text-align: center;
     }
}

@media (min-width: 768px) {
    .tarjetaProducto {
            width: 22% ;
    }
    .tarjetaProducto:hover {
        box-shadow: 0px 0px 25px rgb(100, 100, 100);
    } 
    .linkArrow{
        display:block;
    }

}

@media (min-width: 1086px) {
    .iconsBanner, .btcIcon{
        margin-bottom: 5px;
        margin-left: 2rem;
    }
    .pOffer{
        display: inline-block;
        margin-left: 0;
        margin-top: 12px;
        flex: 1 0 auto;
        font-size: 1.1rem;
        height: 75px;
        padding: 15px;
        font-weight:200;
        align-items: center;
    }
}