/* media */
@media (min-width: 363px){
    .contenedorOfertasSeccion {
        flex-direction: row;}
    .contenedorVendidoSeccion  {
        flex-direction: row;
    }
    .tarjetaProducto{
        width: 72%
    }
}


@media (min-width: 364px) {
    .contenedorOfertasSeccion {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
    .tarjetaProducto {
            width: 41%;
            
            }
}

@media (min-width: 768px) {

    .tarjetaProducto {
            width: 22% ;
                    }
    .tarjetaProducto:hover {
        box-shadow: 0px 0px 25px rgb(100, 100, 100);
} 
}