/*.contenedorProductList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.contenedorProductList .productList{
    width: 30%;
    text-align: center;
    background: rgba(255,255,255,0.9);
    margin: 15px 0px;
    box-shadow: 11px 10px 10px 0px rgb(0 0 0 / 30%);
}


.categorias {
    display: flex;
    flex-direction: column;
}

.contenedorList {
    width: 80%;
    display: flex;
}

.contenedorList ul a {
    text-decoration: none;
    color: #000000;
    margin: 5%;
 }

.contenedorList ul {
    display: flex;

}
.contenedorList ul div{
    margin-right: 21px;
}

.segundoDiv {
    align-self: center;
    margin-left: 15%;
}*/

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
} 

.precioDescuentoProductoList{
    color: rgb(8, 180, 8);
    font-size: 16px;
    font-weight: lighter;
}

.precioProductoList{
    text-align: center;
    border: 1px solid rgb(1, 1, 1);
    width: 100%;
}

.precioTotalProductoList{
    font-size: 18px;
    font-weight: lighter;
}

.listText{
    margin-left: 25px;
    margin-top: 10px;
    font-weight: lighter;
}

.name{
    text-overflow: Ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.title{
    text-overflow: Ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.name:hover{
    overflow: visible;
    white-space: pre-wrap;
}

.title:hover{
    overflow: visible;
    white-space: pre-wrap;
}

.image{
    height: 10rem;
    max-width: 18rem;
    max-height: 10rem;
}

.card{
    width: 18rem;
    margin: 10px;
}

.btnDetail{
    margin-left: -15px;
}