.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

.precioDescuentoProductoList{
    color: rgb(8, 180, 8);
    font-size: 16px;
    font-weight: lighter;
}

.precioProductoList{
    text-align: center;
    border: 1px solid rgb(1, 1, 1);
    width: 100%;
}

.precioTotalProductoList{
    font-size: 18px;
    font-weight: lighter;
}

.listText{
    margin-left: 72px;
    margin-top: 10px;
    font-weight: lighter;
}

.name{
    text-overflow: Ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.title{
    text-overflow: Ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.name:hover{
    overflow: visible;
    white-space: pre-wrap;
}

.title:hover{
    overflow: visible;
    white-space: pre-wrap;
}

.image{
    height: 10rem;
    max-width: 18rem;
    max-height: 10rem;
}

.card{
    width: 18rem;
    margin: 10px;
}

.btnDetail{
    margin-left: -15px;
}