/* Main */

.contenedorHome{
    background: rgba(255, 255, 255, 0.425);
    width: 100%;
    
    
}
.contenedorBanner {
    width: 100%;height: 50vh;
    align-self: center;
    border: 1px white solid;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.contenedorBotonesHome {
    width: 100%;height: 10vh;
    display: flex;
    justify-content: space-around;

}
/* bontones */
.bontonesHome {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#000000;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#ffffff60;
    border-color: #1d1c1c;
    border-width: 3px;
    border-style: solid;
}
.contenedorOfertas{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    padding: 2vw;
    font-size: 1.8rem;
    color: #000000;
}
/* Ofertas */
.contenedorOfertas a {
    text-decoration: none;
    color: #000000;
}
.contenedorOfertasSeccion {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    flex-direction: row;
}

/* contenedor de tarjeta de producto */
.tarjetaProducto {
    width: 21%;
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 205, 160, 0.945);
    align-items: center;
}
.imagenProducto {
    width: 20vw;
    padding: 3px;
    height: 250px;
}
.infoProducto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
}
.nombreProducto {
    font-size: 2rem;
}
.precioProductoHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.precioTotalProducto {
    font-weight: 700;
    font-size: 2.1rem;
    
}
.precioDescuentoProducto {
    color: green;
    font-size: 1.5rem;
}
/* lo + vendido */
.contenedorVendido {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    padding: 2vw;
    font-size: 1.8rem;
    color: #000000;
}
.contenedorVendido a {
    text-decoration: none;
    color: #000000;
}
.contenedorVendidoSeccion {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0);
    flex-direction: row;
}
/* contenedor de tarjeta de lo + vendido */
.tarjetaVendido {
    width: 21%;
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 205, 160, 0.945);
    align-items: center;
}
.imagenVendido {
    width: 20vw;
    padding: 3px;
}
.infoVendido {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
}
.nombreVendido {
    font-size: 2rem;
}
.precioVendidoHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.precioTotalVendido {
    font-weight: 700;
    font-size: 2.1rem;
    
}
.precioDescuentoVendido {
    color: green;
}

/* Nav & Footer */
nav,
footer {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.contendedorLogo img {
    width: 100%;
}
nav div ul li a{
    color: black;
}
nav ul li,
footer .redesSociales ul li,
footer .linksFooter ul li{
    display: inline-block;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer .redesSociales {
    width: 25%;
    padding: 10px;
}

footer .redesSociales p {
    font-size: 26px;
}

footer .redesSociales ul li {
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
}

footer .redesSociales ul li a i {
    font-size: 25px;
}

footer .linksFooter {
    width: 50%;
}

footer .linksFooter ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer .linksFooter .contenedorLogo {
    width: 25%;
}

.fa-facebook-square {
    color: rgb(66,103,178);
}
.fa-instagram-square {
    color: rgb(233, 89, 80);
}
.fa-whatsapp-square {
    color: rgb(37, 211, 102);
}
.fa-twitter-square {
    color: rgb(29, 161, 242)
}

/* Log In Formulario */
.contenedorLogIn {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    background: rgba(255,255,255,0.5);
}

.contenedorLogIn .aside {
    width: 40%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.contenedorLogIn .aside div{
    width: 50%;
    margin: 20px 0px;
    text-align: center;
}
.contenedorLogIn .aside div p {
    margin-top: 10px;
}
.contenedorLogIn .aside div i {
    font-size: 50px;
    padding-right: 10px;
}
.contenedorLogIn .logIn {
    width: 60%;
    border-left: 3px solid black;
    text-align: center;
}
.contenedorLogIn .logIn .logInExterno,
.contenedorLogIn .logIn .logInInterno ,
.contenedorLogIn .logIn .nuevoCliente,
.contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.contenedorLogIn .logIn .logInExterno button, 
.contenedorLogIn .logIn .logInInterno input ,
.contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta input{
    margin: 10px 0px;
    width: 40%;
}

.contenedorLogIn .logIn .logInInterno .botonesLogIn {
    width: 100%;
}

.contenedorLogIn .logIn .logInInterno button,
.contenedorLogIn .logIn .nuevoCliente button {
    width: 15%;
}

.contenedorLogIn .logIn .crearCuenta {
    display: none;
    margin-top: 30px;
}

/* product Detail */

.nombreProducto{
    text-align: center;
    font-size: 35px;
}
.producto{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: space-around;  
    box-sizing: border-box;
}

/* datos del producto */
.datosProducto{
    margin-right: 100px;
    margin-top: 5px;
    margin-left: 80px;
}

.añadirProducto, .añadirProducto2{
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#0a0909;
    border-color: #1d1c1c;
    border-width: 3px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

.precioProducto{
    font-size: 45px;
    border: solid 3px #ab179e;
    text-align: center;
}
.pagoProducto{
    font-size: 15px;
    text-decoration: none;
    color:#ab179e;
}
.oferta1,.oferta2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}
.oferta1 i, .oferta2 i{
    color: midnightblue;
}


/* carusel */
.caruselNombre{
    margin-left: 100px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.contenido{
    width: 200px;
    padding-left: 20px;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 90%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/* similares */
.similares{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 10px;
}
.productoSimilar{
    padding: 30px;
}
.busquedas{
    display: flex;
    margin-top: 50px;
}
.imagenSimilar{
    width: 300px;
    height: 300px;
}
.nombreSimilar{
    background-color:rgb(236, 229, 219);
    text-align: center;
}
.precioSimilar{
    font-size: large;
    margin-bottom: -2px;
}
/* descripcion */
.descripcionProducto{
    margin-top: 90px;
}