/* Main */
p {
    margin-bottom: unset !important;  /*  el bootstrap trae margen en los p, no tocar */
}/* sobreescribir más adelante con !important */
.contenedorHome{ 
    background: rgba(255, 255, 255, 0.425);
    width: 100%;
    
    
}
.contenedorBanner {
    width: 100%;height: 50vh;
    align-self: center;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    animation: banner infinite 10000ms ease-in-out;
}
@keyframes banner{
    0%{background-image: url('../img/intelbanner.jpg'); }
    50%{background-image: url('../img/intelbanner.jpg');}
   51%{background-image: url('../img/amdbanner.jpg');}
    100%{background-image: url('../img/amdbanner.jpg');}
 }
.contenedorBotonesHome {
    width: 100%;height: 10vh;
    display: flex;
    justify-content: space-around;

}
/* bontones */
.botonesHome {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff60;
    border-color: #1d1c1c00;
    border-width: 3px;
    border-style: solid;
    width: 33%;
    text-align: center;
}
.contenedorOfertas{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    border: 2px solid #0000009c;
    box-sizing: border-box;
    padding-bottom: 37px;
    font-size: 1.5rem;
    color: #000000;
}
/* Ofertas */
.contenedorOfertas a {
    text-decoration: none;
    color: #000000;
}
.contenedorOfertasSeccion {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
}

/* contenedor de tarjeta de producto */
.tarjetaProducto {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 205, 160, 0.945);
    align-items: center;
    margin: 5px;
}
.imagenProducto {
    width: 100%;
    padding: 3px;
    height: 250px;
    padding-top: 10px; 
}
.infoProducto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
}
.nombreProducto {
    font-size: 1.3rem;
}
.precioProductoHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.precioTotalProducto {
    font-weight: 700;
    font-size: 1rem;
}
.precioDescuentoProducto {
    color: green;
    font-size: 0.9rem;
}
/* lo + vendido */
.contenedorVendido {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    border: 2px solid #0000009c;
    box-sizing: border-box;
    padding-bottom: 37px;
    font-size: 1.5rem;
    color: #000000;
}
.contenedorVendido a {
    text-decoration: none;
    color: #000000;
}
.contenedorVendidoSeccion {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
}
/* contenedor de tarjeta de lo + vendido */
.tarjetaVendido {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 205, 160, 0.945);
    align-items: center;
    margin: 5px;
}
.imagenVendido {
    width: 100%;
    padding: 3px;
    height: 250px;
    padding-top: 10px; 
}
.infoVendido {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3px;
}
.nombreVendido {
    font-size: 1.3rem;
}
.precioVendidoHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.precioTotalVendido {
    font-weight: 700;
    font-size: 1rem;
    
}
.precioDescuentoVendido {
    color: green;
    font-size: 0.9rem;
}

/* Nav & Footer */
nav,
footer {
    background: white;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 100px;
    flex-direction: row;
}

.contendedorLogo img {
    width: 100%;
}
nav div ul li a{
    color: black;
}
nav ul li,
footer .redesSociales ul li,
footer .linksFooter ul li{
    display: inline-block;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav div:nth-child(3){
    display: flex;
    justify-content: flex-end;
}

footer .redesSociales {
    width: 25%;
    padding: 10px;
    text-align: center;
}

footer .redesSociales p {
    font-size: 26px;
}

footer .redesSociales ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

footer .redesSociales ul li {
    margin-right: 20px;
    margin-top: 10px;
}

footer .redesSociales ul li a i {
    font-size: 45px;
}

footer .linksFooter {
    width: 50%;
}

footer .linksFooter ul{
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer .linksFooter .contenedorLogo {
    width: 25%;
}

.fa-facebook-square {
    color: rgb(66,103,178);
}
.fa-instagram-square {
    color: rgb(233, 89, 80);
}
.fa-whatsapp-square {
    color: rgb(37, 211, 102);
}
.fa-twitter-square {
    color: rgb(29, 161, 242)
}



/* Log In Formulario */
.contenedorLogIn {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    background: rgba(255,255,255,0.5);
}

.contenedorLogIn .aside {
    width: 40%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.contenedorLogIn .aside div{
    width: 50%;
    margin: 20px 0px;
    text-align: center;
}
.contenedorLogIn .aside div p {
    margin-top: 10px;
}
.contenedorLogIn .aside div i {
    font-size: 50px;
    padding-right: 10px;
}
.contenedorLogIn .logIn {
    width: 60%;
    border-left: 3px solid black;
    text-align: center;
}
.contenedorLogIn .logIn .logInExterno,
.contenedorLogIn .logIn .logInInterno ,
.contenedorLogIn .logIn .nuevoCliente,
.contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.contenedorLogIn .logIn .logInExterno button, 
.contenedorLogIn .logIn .logInInterno input ,
.contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta input{
    margin: 10px 0px;
    width: 40%;
}

.contenedorLogIn .logIn .logInInterno .botonesLogIn {
    width: 100%;
    margin-top: 10px;
}

.contenedorLogIn .logIn .logInInterno button,
.contenedorLogIn .logIn .nuevoCliente button {
    width: 15%;
}

.contenedorLogIn .logIn .crearCuenta {
    margin-top: 30px;
    display: none;
}

.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
/* product Detail */

.nombreDelProducto{
    text-align: center;

    font-size: 1.3em;
}

.producto{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: space-around;  
    box-sizing: border-box;
}

/* datos del producto */
.datosProducto{
    margin-right: 100px;
    margin-top: 16px;
    margin-left: 100px;
}

.nombreDeProducto{
    text-align: center;
    font-size: 2.5em;
}

.añadirProducto, .añadirProducto2{
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#0a0909;
    border-color: #1d1c1c;
    border-width: 3px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.añadirProducto:hover, .añadirProducto2:hover{
    color: #688b58;
    border-color: #eb5e55;
    transition: all 1s;
}
.ofertaProducto{
    margin-top: 30px;
}

.precioProducto{
    font-size: 45px;
    border: solid 3px #eb5e55;
    text-align: center;
}
.pagoProducto{
    font-size: 15px;
    text-decoration: none;
    color:#eb5e55;
}
.oferta1,.oferta2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}
.oferta1 i, .oferta2 i{
    color: midnightblue;
}
/*Cart*/
.cart {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cartBarra{
width: 100%;
height: 8vh;
border: 2px solid black;
display: flex;
justify-content: space-around;
align-items: center;
}
.cartTarj {
    width: 100%;
    height: 10vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cartPImg {
    width: 96%;
    height: 6vh;
    box-sizing: border-box;
    border: 1px #000000 solid;

}
.cartContSuma {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 81%;
}
.sumaCart {
    border: #000000 solid 2px;
    display: flex;
    justify-content: end;
    width: 28%;
    justify-content: space-between;
}
.sumaEnvio {
    border: #000000 solid 2px;
    display: flex;
    justify-content: end;
    width: 28%;
    justify-content: space-between;
}
.totCEnv {
    border: #000000 solid 2px;
    display: flex;
    justify-content: end;
    width: 28%;
    justify-content: space-between;
}
.botonComCart  {
    border: #000000 solid 2px;
    width: 30%;
    height: 7vh;
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    font-size: xx-large;
    background: red;
}
/* carusel */
.caruselNombre{
    margin-left: 100px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.contenido{
    width: 200px;
    padding-left: 20px;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.carousel{
    width: 600px;
    height: 400px;
    margin-left: -50px;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-position: center;
    animation: carouselAnimacion infinite 10000ms ease-in-out;
}

@keyframes carouselAnimacion{
     0%{background-image: url('../img/intelbanner.jpg'); }
     25%{background-image: url('../img/intelbanner.jpg');}
     26%{background-image: url('../img/amdbanner.jpg');}
     50%{background-image: url('../img/amdbanner.jpg');}
     51%{background-image: url('../img/combointel.jpeg');}
     75%{background-image: url('../img/combointel.jpeg');}
     76%{background-image: url('../img/comboryzen.jpg');}
     100%{background-image: url('../img/comboryzen.jpg');}
 }

.caruselNombre{
    margin-top: -40px;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

@media screen and (min-width: 769px) {
    
}

/* similares */
.similares{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 10px;
}
.productoSimilar{
    padding: 30px;
}
.busquedas{
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
}
.imagenSimilar{
    width: 300px;
    height: 300px;
}
.nombreSimilar{
    background-color:rgb(236, 229, 219);
    text-align: center;
}
.precioSimilar{
    font-size: large;
    margin-bottom: -2px;
}

/* i */
.fas.fa-shipping-fast, .fas.fa-percent{
    color: #7d8cc4;
}

/* descripcion */
.descripcionProducto{
    margin-left: 10px;
    margin-top: 40px;
    width: 50%;
}
@media (max-width: 1429px) {
    .contenedorLogIn .logIn .logInInterno button,
    .contenedorLogIn .logIn .nuevoCliente button {
        width: 20%;
    }
}

@media (max-width: 1143px) {
    footer .linksFooter ul {
        display: flex;
        flex-direction: column;
    }
    footer .redesSociales ul li a i {
        font-size: 30px;
    }
}

@media (max-width: 1025px) {
    .contenedorLogIn {
        flex-direction: column;
    }
    .contenedorLogIn .aside {
        order: 2;
        width: 100%;
        margin-top: 50px;
    }
    .contenedorLogIn .logIn {
       width: 100%;
        border: none;
    }
}

@media (max-width: 812px) {
    footer .redesSociales p {
        font-size: 20px;
    }
}

@media (max-width: 995px) {
    nav div:nth-child(3){
        display: flex;
        justify-content: flex-start;
    }
    
}

@media (max-width: 734px) {
    .contenedorLogIn .logIn .logInExterno button, 
    .contenedorLogIn .logIn .logInInterno input ,
    .contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta input{
        margin: 10px 0px;
        width: 80%;
    }
    .contenedorLogIn .logIn .logInInterno button,
    .contenedorLogIn .logIn .nuevoCliente button {
        width: 30%;
    }
    .contenedorBanner {
       height: 25vh !important;
    }

}

@media (max-width: 991px) {
    nav,
    footer{
        padding: 0px 20px;
    } 
    nav ul li {
        margin-left: 0px;
    } 
    .contenedorNavItems ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .contenedorNavItems ul li {
        margin-top: 15px;
    }
}

@media (max-width: 655px) {
    footer {
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer .redesSociales {
        width: 100%;
    }
    footer .redesSociales div ul{
        justify-content: center;
    }
    footer .linksFooter{
        width: 100%;
    }
    footer .contenedorLogo{
        width: 100%;
        text-align: center;
    }
    
}

@media (min-width: 370px){
    .contenedorOfertasSeccion{
    flex-direction: row !important;
}
.contenedorVendidoSeccion{
    flex-direction: row !important;
} 
.tarjetaProducto:hover {
    box-shadow: 0px 0px 25px rgb(100, 100, 100);
}}