/* Main */

/* Nav & Footer */
nav,
footer {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.contendedorLogo img {
    width: 100%;
}
nav div ul li a{
    color: black;
}
nav ul li,
footer .redesSociales ul li,
footer .linksFooter ul li{
    display: inline-block;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

footer .redesSociales {
    width: 25%;
    padding: 10px;
}

footer .redesSociales p {
    font-size: 26px;
}

footer .redesSociales ul li {
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
}

footer .redesSociales ul li a i {
    font-size: 25px;
}

footer .linksFooter {
    width: 50%;
}

footer .linksFooter ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer .linksFooter .contenedorLogo {
    width: 25%;
}

.fa-facebook-square {
    color: rgb(66,103,178);
}
.fa-instagram-square {
    color: rgb(233, 89, 80);
}
.fa-whatsapp-square {
    color: rgb(37, 211, 102);
}
.fa-twitter-square {
    color: rgb(29, 161, 242)
}

/* Log In Formulario */
.contenedorLogIn {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    background: rgba(255,255,255,0.5);
}

.contenedorLogIn .aside {
    width: 40%;
    height: 10px;
}
.contenedorLogIn .logIn {
    width: 60%;
    border-left: 3px solid black;
    text-align: center;
}
.contenedorLogIn .logIn .logInExterno,
.contenedorLogIn .logIn .logInInterno ,
.contenedorLogIn .logIn .nuevoCliente  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.contenedorLogIn .logIn .logInExterno button, 
.contenedorLogIn .logIn .logInInterno input {
    margin: 10px 0px;
    width: 40%;
}

.contenedorLogIn .logIn .logInInterno button,
.contenedorLogIn .logIn .nuevoCliente button {
    width: 15%;
}

.contenedorLogIn .logIn .nuevoCliente {
    margin: 20px 0px;
    border-top: 2px solid black;
}

.contenedorLogIn .logIn .nuevoCliente p {
    margin-top: 20px;
    margin-bottom: 5px;
}