/*Estilos generales*/


/* medias del product detail */
@media (min-width: 361px) and (max-width:767px){
    *{
        box-sizing: border-box;
    }
    .producto{
        display: flex;
        align-items: center;
        position: relative;
    }
    .caruselNombre{
        text-align: center;
        justify-content: center;
    }
    .nombreDeProducto{
        font-size: 1.2em;
        justify-content: center;
        margin-right: 100px;
    }
    .carousel{
        width:300px;
        height: 250px;
        text-align: center;
        margin-right: 40px;
    }
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 3px;
    }
    .datosProducto{
        flex-direction: column;
        justify-content: center;
    }
    .añadirProducto, .añadirProducto2{
        width: 280px;
        font-size: 0.7em;
    }
    .añadirProducto2{
        margin-top: -0.3px;
    }
    .precioProducto{
        font-size: 30px;
    }
    .descripcionProducto{
        font-size: 0.8em;
        width: 95%;
    }
    .des
    .busquedas{
        text-align: center;
    }
    .similares{
        display: flex;
        align-items: center;
    }
    .precioSimilar{
        font-size: 1.4em;
        margin-bottom: 40px;
    }
}

@media (min-width: 500px) {
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 5px;
        width: auto;
    }
    .precioSimilar{
        font-size: 1.4em;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 5px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .productoSimilar{
        margin-right: 30px;
    }
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .producto{
        flex-direction: row;
    }
    .caruselNombre{
        margin-left: 30px;
        margin-right: -80px
    }
}


@media (min-width: 1200px) {
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
    }
}


@media (max-width: 812px) {
    footer .redesSociales p {
        font-size: 20px;
    }
}

@media (max-width: 995px) {
    nav div:nth-child(3){
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 734px) {
    .contenedorLogIn .logIn .logInExterno button, 
    .contenedorLogIn .logIn .logInInterno input ,
    .contenedorLogIn .logIn .crearCuenta .contenedorCrearCuenta input{
        margin: 10px 0px;
        width: 80%;
    }
    .contenedorLogIn .logIn .logInInterno button,
    .contenedorLogIn .logIn .nuevoCliente button {
        width: 30%;
    }
    .contenedorBanner {
       height: 25vh !important;
    }
}

@media (max-width: 991px) {
    nav,
    footer{
        padding: 0px 20px;
    } 
    nav ul li {
        margin-left: 0px;
    } 
    .contenedorNavItems ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .contenedorNavItems ul li {
        margin-top: 15px;
    }
}

@media (max-width: 655px) {
    footer {
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer .redesSociales {
        width: 100%;
    }
    footer .redesSociales div ul{
        justify-content: center;
    }
    footer .linksFooter{
        width: 100%;
    }
    footer .contenedorLogo{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1143px) {
    footer .linksFooter ul {
        display: flex;
        flex-direction: column;
    }
    footer .redesSociales ul li a i {
        font-size: 30px;
    }
}
