.cardPay, .cashPay, .criptoPay{
    border:  1px solid black;
    width: 55%;
    height: 200x;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}

.imgPayCard{
    width: 60px;
    margin-right: 10px;
}

.cardMethods{
    display: inline;
}

.paymentIcons{
    margin-right: 6px;
    margin-bottom: 0.3rem;
}

.imgPay{
    width: 90px;
    margin-right: 10px;
}

.criptoMethods{
    width: 40px;
}

.cardMethodImg{
    width: 40px;
}

.visaCard{
    width: 80px;
}

.titleCardPayment{
    font-weight: bolder;
}

.cardPayTitle{
    width: 55%;
    height: 200x;
    margin: 10px auto;
    padding: auto;
}

.textPayment{
    width: 90%;
    font-size: 0.9rem;
    margin: 10px auto;
    padding: auto;
}
.cardPayTitle{
    width: 90%;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1024px) {
    .cardPay, .cashPay, .criptoPay{
        width: 90%;
        height: 200x;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cardPayTitle{
        font-size: 0.9rem;
        font-weight: lighter;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}