.contenedorProductDetail {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.productDetail {
    margin: 50px;
    padding: 50px;
    background: rgba(255,255,255,0.75);
}

.producto{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: space-around;  
    box-sizing: border-box;
}/* datos del producto */
.datosProducto{
    margin-right: 100px;
    margin-top: 16px;
    margin-left: 100px;
}

.nombreDeProducto{
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
}

.añadirProducto, .añadirProducto2{
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#0a0909;
    border-color: #1d1c1c;
    border-width: 3px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

.añadirProducto:hover, .añadirProducto2:hover{
    color: #aee5ff;
    border-color: #eb5e55;
    transition: all 1s;
}
.ofertaProducto{
    margin-top: 30px;
}

.precioProducto{
    font-size: 45px;
    border: solid 3px #eb5e55;
    text-align: center;
}
.pagoProducto{
    font-size: 15px;
    text-decoration: none;
    color:#eb5e55;
}
.pagoProducto:hover{
    color: #408fb4;
}
.pagoProducto2{
    font-size: 15px;
    text-decoration: none;
    color:#000000;
}
.pagoProducto2:hover{
    color: #3a3a3a;
}
.oferta1,.oferta2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
}
.oferta1 i, .oferta2 i{
    color: #408fb4;
}

.ofertaCartSale{
    width: 300px;
    height: 50px;
    font-size: 12px;
    margin-top: 10px;
}

.descriptionPart{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}

.descName{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.descText{
    margin-top: 10px;
    display: flex;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
    width: 90%;
}

.hr {
    height: 10px;
    width: 30%;
    background-color: black;
    display: flex;
    margin-left: 35%;
  }

.masArticulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card{
    margin-right: 15px;
    background-color: rgb(254, 254, 246);
    border: 1px solid black;
    margin-top: 10px;

}

.btnCompra{
    margin-top: 100px;
    text-decoration: none;
}
/* carusel */
/*.caruselNombre{
    margin-left: 100px;
    margin-top: -20px;
    margin-bottom: 20px;
}*/

.contenido{
    width: 200px;
    padding-left: 20px;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.linkEliminate{
    display: none;
}

.carousel{
    width: 600px;
    height: 400px;
    margin-left: -50px;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}

.carouselCart{
    width: 600px;
    height: 160px;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 253, 190);
    margin-bottom: 30px;
}

.carouselCartMini{
    display: flex;
    margin-left: 10px;
    width: 600px;
    height: 220px;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.carouselCart3{
    display: flex;
    margin-left: 10px;
    width: 600px;
    height: 220px;
    border: 1px rgba(255, 255, 255, 0) solid;
    box-sizing: border-box;
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.imgCartProduct{
    width: 35%;
    margin-right: 15px;
}

.caruselNombre{
    margin-top: -40px;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/* similares */
.similares{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

.productoSimilar{
    padding: 30px;
}
.busquedas{
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
}
.imagenSimilar{
    width: 300px;
    height: 300px;
}
.nombreSimilar{
    background-color:rgb(236, 229, 219);
    text-align: center;
}
.precioSimilar{
    font-size: large;
    margin-bottom: -2px;
}

/* i */
.fas.fa-shipping-fast, .fas.fa-percent{
    color: #7d8cc4;
}

.fas.fa-shipping-fast:hover, .fas.fa-percent:hover{
    color: #408fb4;
}

/* descripcion */
.descripcionProducto{
    margin-left: 10px;
    margin-top: 60px;
    width: 50%;
}
.descripcionProducto:hover{
    box-shadow: 10px 10px 10px 10px black;
}



/*Estilos generales*/


/* medias del product detail */
@media (max-width: 320px){
    .busquedas{
        font-size: 1.2rem;
    }
}
@media (max-width: 360px){
    .carousel{
        width:300px;
        height: 200px;
        margin-left: 5px;
    }
    .carouselCart{
        width:300px;
        height: 100px;
        margin-left: 5px;
    }
    .nombreDeProducto{
        font-size: 1.6rem;
    }
    .precioProducto{
        font-size: 1.6rem;
    }
    .añadirProducto{
        width: 150px;
        font-size: 0.1rem;
        height: 55px;
    }
    .añadirProducto>i{
        width: 10px;
    }
    .añadirProducto2{
        width: 150px;
        height: 55px;
    }
    .oferta1, .oferta2{
        font-size: 0.8rem;
    }
}
@media (min-width: 361px) and (max-width:767px){
    *{
        box-sizing: border-box;
    }
    .producto{
        display: flex;
        align-items: center;
        position: relative;
    }

    .carouselCart{
    display: none;
    }

    .linkEliminate{
        margin-left: 170px;
        display: block;
        color: red;
        text-decoration: none;
        font-size: 1rem;
    }

    .linkEliminate:hover{
        color: #eb5e55;
    }

    .carouselCartMini{
        margin-bottom: 20px;
        background-color: rgb(255, 253, 190);
        display:block;
        height: 100px;
        width: 95%;
        font-size: 10px;
        text-align: center;
    }

    .infoProductCart{
        font-size: 10px;
    }
    
    .ct2{
        margin-top: -10px;
    }

    .resumeDataProducts{
        display: none;
    }

    .infoCartName{
        display: block;
        font-size: 10px;
    }


    .infoCart{
        display: none;
    }

    .carouselCartText{
        font-size: 12px;
    }

    .caruselNombre{
        text-align: center;
        justify-content: center;
        width: auto;
    }

    .priceProductCart{
        display: none;
    }
    
    .nombreDeProducto{
        font-size: 1.8em;
        justify-content: center;
    }
    
    .carousel{
        width:350px;
        height: 250px;
        margin-left: 10px;
    }
    .carouselCart{
        width:350px;
        height: 180px;
        margin-left: 10px;
    }

    .carouselCart3{
        display: flex;
        width: 320px;
        height: 80px;
        border: 1px rgba(255, 255, 255, 0) solid;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }

    .pricePCart{
        font-size: 1.2rem;
    }


   
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 3px;
    }
    .datosProducto{
        flex-direction: column;
        justify-content: center;
    }
    .añadirProducto, .añadirProducto2{
        width: 280px;
        font-size: 0.7em;
    }
    .añadirProducto2{
        margin-top: -0.3px;
    }
    .precioProducto{
        font-size: 30px;
    }
    .descripcionProducto{
        font-size: 0.8em;
        width: 95%;
    }
    .busquedas{
        text-align: center;
    }
    .similares{
        display: flex;
        align-items: center;
    }
    .precioSimilar{
        font-size: 1.4em;
        margin-bottom: 40px;
    }
    .masArticulos{
        justify-content: center;
    }
}

@media (min-width: 500px) {
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 5px;
        width: auto;
    }
    .precioSimilar{
        font-size: 1.4em;
        margin-bottom: 40px;
    }
    .masArticulos{
        justify-content: flex-start;
    }
   
    .carousel{
        width:600px;
        height: 365px;
        margin-left: 10px;
    }
    .carouselCart{
        width:600px;
        height: 365px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .carouselCartMini{
        display: none;
    }
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
        margin: 5px;
    }
    .carousel{
         width:700px;
        height: 415px;
        margin-left: 10px;
    }
    .carouselCart{
        width: 600px;
        height: 180px;
       margin-left: 10px;
   }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .productoSimilar{
        margin-right: 30px;
    }
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .producto{
        flex-direction: row;
    }
    
    .caruselNombre{
        margin-left: 30px;
        margin-right: -80px
    }
    
    .nombreDeProducto{
        margin-right: 50px;
    }
}


@media (min-width: 1200px) {
    .similares{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .productoSimilar{
        background-color:rgb(245, 239, 240);
        margin-top: 20px;
    }
}

.productosH2 {
    font-size: calc(1.325rem + .9vw);
    display: flex;
    justify-content: center;
}
