@import url('content.css');
@import url('headerYFooter.css');
@import url('main.css');
@import url('medias.css');
@import url('wishlist.css');
@import url('index.css');
@import url('login.css');
@import url('productDetail.css');
@import url('productCart.css');
@import url('createProduct.css');
@import url('list.css');
@import url('form.css');
@import url('admin.css');
@import url('userProfile.css');
@import url('paymentMethods.css');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #f8f1ff;
    background-image: url("/img/bgEEE.png");
}

.btnMain {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    background-color: black;
  }
  
  .btnMain:hover {
    background-color: #065757;
    color: white;
  }