/*.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 150px;
  margin-bottom: 100px;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #E9E2D0;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 5px;
  width: 520px;
  height: 275px;
}

#cardProfileLogued {
  margin-top: 7.5rem;
  position: absolute;
  width: 450px;
  height: 225px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 67.5px;
  margin-left: -235px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}


#cardProfileLogued img {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 6px;

}

#card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 20pt;
}

#cardProfileLogued p {
  font-family: courier;
  color: #555;
  font-size: 15px;
}

#cardProfileLogued span {
  font-family: courier;
}

.editButton{
  width: 100px;
  border: 2px solid black;
  background-color: rgb(236, 222, 205);
  margin-top: -4.5rem;
  border-radius: 2px;
  font-size: 20px;
  margin-left: 40px;
}

.editButton:hover{
  background-color: rgb(172, 165, 157);
  transition: all 0.2s;
  border: 2px solid rgb(136, 121, 121);
}

.userUpdateInfo{
  flex-direction: column;
  margin-left: -33.5rem;
}

.nameUpdateInfo{
  margin-bottom: 15px;
}

.buttonSubmitInfo{
  border: 1px solid black;
  background-color: #eee
  ;
} */

.sectionProfile{
  margin-top: -150px;
  background-color: rgb(255, 255, 255);
  height: 100px;
  color: rgb(255, 255, 255);
}

.containerProfile{
  background-color: rgb(255, 255, 255);
}

.containerProfile{
  padding:0;
  margin:0;

}

.containerProfile > div{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cardProfile{
  background: radial-gradient(circle, rgb(45, 65, 65), rgb(66, 65, 65));
  color:#b3b8cd;
  border-radius: 5px;
  max-width: 350px;
  width:100%;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.card-header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
}

.card-photo{
  height: 120px;
  width:120px;
  border-radius: 50%;
  border: 1px solid #1f1a32;
  padding: 7px;
  background-color: #292343;
  overflow: hidden;
  transform: translateY(calc(50% + 40px));
  border: 1px solid white;
}

.card-photo .imgProfileView{
  margin-top: -10px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 30%;
}

.card-body{
  padding: 0 15px 15px;
  text-align: center;
}

.cardName{
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: -32px 0 0 135px;
}

.card-description{
  color: white;
  font-size: 16px;
  line-height: 21px;
  margin-top: 60px;
}

.card-button{
  margin: 20px 0 40px;
  display:inline-table;
}

.card-button button:first-of-type{
  margin-right: 10px;
}

.btnFormEdit{
  width: 70px;
  height: 35px;
}

.btn{
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all .5s ease;
  cursor: pointer;
}
.btn-primary,
.btn-outline-primary{
  border:1px solid #03bfbc;
}

.btn-primary,
.btn-outline-primary:hover{
  color: #231e39;
  background-color: #03bfbc;
}

.btn-primary:hover,
.btn-outline-primary{
  background-color: transparent;
  color: #03bfbc;
}


.card-social{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.card-social li{
  padding-right: 20px;
  transition: all .5s ease;
}

.card-social li:last-of-type{
  padding-right: 0;
}

.card-social li a{
  font-size: 20px;
  color:#b3b8cd;
}

.card-social li a:hover{
  color: #03bfbc;
}

