.sectionProfile{
  margin-top: -150px;
  background-image: url("/img/bgEEE.png");
  height: 100px;
  color: rgb(255, 255, 255);
  display: none;
}

.containerProfile{
  background-image: url("/img/bgEEE.png");
}

.containerProfile{
  padding:0;
  margin:0;

}

.containerProfile > div{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cardProfile{
  background: radial-gradient(circle, rgb(45, 65, 65), rgb(66, 65, 65));
  color:#b3b8cd;
  border-radius: 5px;
  max-width: 350px;
  width:100%;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.card-header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
}

.card-photo{
  height: 120px;
  width:120px;
  border-radius: 0%;
  border: 1px solid #1f1a32;
  padding: 7px;
  background-color: transparent;
  overflow: hidden;
  transform: translateY(calc(50% + 40px));
  border: 1px solid white;
}

.card-photo .imgProfileView{
  display: inline-block;
  width: 100%;
  height: auto;
}

.card-body{
  padding: 0 15px 15px;
  text-align: center;
}

.cardName{
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: -32px 0 0 135px;
}

.card-description{
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: lighter;
  margin-top: 80px;
}

.card-button{
  margin: 20px 0 40px;
  display:inline-table;
}

.card-button button:first-of-type{
  margin-right: 10px;
}

.btnFormEdit{
  width: 70px;
  height: 35px;
}

.btn{
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all .5s ease;
  cursor: pointer;
}
.btn-primary,
.btn-outline-primary{
  border:1px solid #03bfbc;
}

.btn-primary,
.btn-outline-primary:hover{
  color: #231e39;
  background-color: #03bfbc;
}

.btn-primary:hover,
.btn-outline-primary{
  background-color: transparent;
  color: #03bfbc;
}


.card-social{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.card-social li{
  padding-right: 20px;
  transition: all .5s ease;
}

.card-social li:last-of-type{
  padding-right: 0;
}

.card-social li a{
  font-size: 20px;
  color:#b3b8cd;
}

.card-social li a:hover{
  color: #03bfbc;
}

.iconProfile:hover{
  color: wheat;
}