.contenedorWishlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    margin: 25px 0px;
    background: rgba(255,255,255,0.5);
}

.contenedorWishlist .iconosWishlist div i{
    font-size: 50px;
}

.contenedorWishlist .iconosWishlist div p{
    font-size: 20px;
    margin-top: 20px;
}   

.contenedorWishlist .contenedorTituloWishlist {
    width: 100%;
    max-width: 1400px;
    text-align: center;
}

.contenedorWishlist .contenedorItemsWishlist {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: 50px 0px;
    background: #fff;
}

.contenedorWishlist .contenedorItemsWishlist div p,
.contenedorWishlist .contenedorItemsWishlist div a {
    font-size: 30px;
}

.contenedorWishlist .contenedorItemsWishlist div .deleteIcon {
    color: red;
    display: inline-block;
    margin-left: 20px;
}

.contenedorWishlist .contenedorIniciarSesionWishlist {
    width: 100%;
    text-align: center;
}

.contenedorWishlist .iconosWishlist{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1400px;

}

.contenedorWishlist .iconosWishlist .iconoWishlistAhorrarTiempo ,
.contenedorWishlist .iconosWishlist .iconoWishlistRevisar,
.contenedorWishlist .iconosWishlist .iconoWishlistRegalo{
    width: 33%;
    text-align: center;
}