<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <h2 class='productosH2'>Publicar Producto</h2>

    <form action="GET" class="formAgregar">
      <div class="agregarFoto profile-img">
        <img src="/img/addPhoto.png" alt="" />
        <div class="file btn btn-lg btn-primary">
          <span>Agregar foto</span>
          <input type="file" name="file" />
        </div>
      </div>
      <input class="createPForms" type="text" placeholder="Nombre">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>      
      <input class="createPForms" type="text" placeholder="Precio">
      <textarea class="createPForms" name="" id="" cols="30" rows="4" placeholder="Descripcion"></textarea>
      <button type="submit" class="btn btn-primary btn-lg">Crear producto</button>
    </form>
  

    <%- include('./partials/footer.ejs') %> 
</body>
</html>