<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Crear producto'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <section class="contenedorLogIn">
      <article class="aside editProductView">
          <div class="logoEnvios">
              <img src="/img/logo.svg" alt="">
              <p>Crea un publicación y personalizalo a tu gusto!</p>
          </div>
          <div class="logoListaDeseos">
          </div>
      </article>   
      <article class="logIn">
          <div class="logInExterno">
            <!-- <button class='btn btn-primary'>Iniciar con Google</button>
              <button class='btn btn-primary'>Iniciar con Facebook</button>-->
          </div>
      <!-- <span class="separadorLogIn">OR</span>-->
  
      <form method="POST" class="formAgregar" action="/products/create" enctype="multipart/form-data">
  
          <!--name-->
          <input type="text" name="nombreProducto" class="form-control" placeholder="Nombre">
          <!--price-->
          <input type="text" name="precioProducto" class="form-control" placeholder="Precio">
          <!--discount-->
          <input name="discount"class="form-control" type="text" placeholder="Descuento">
          <!--Description-->
          <textarea class="form-control" name="descripcionProducto" id="" cols="30" rows="4" placeholder="Descripcion"></textarea>     
          <!--Category-->
          <select class=" formCategory form-control" aria-label="Default select example">
              <option selected>Categorias</option>
              <option value="1">Cpus</option>
              <option value="2">Motherboards</option>
              <option value="3">Placas de Video</option>
              <option value="4">Memorias Ram</option>
              <option value="5">Fuentes</option>
              <option value="6">Perifericos</option>
              <option value="7">Accesorios</option>
          </select>      
           <!--image-->
           <div class="center">
            <div class="form-input">
                <div class="preview">
                <img id="file-ip-1-preview">
                </div>
                <label for="file-ip-1">Subir imágen</label>
                <input type="file" id="file-ip-1" name="imagenProducto" accept="image/*" onchange="showPreview(event);">
                
            </div>
        </div> 
<script type="text/javascript">
  function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.src = src;
    preview.style.display = "block";
    preview.style.maxHeight = '350px';
    preview.style.maxWidth = '350px';
  }
}
</script>
      <!--Create and delete-->
      <div class="buttonEdit">
          <button type="submit" class="btn btn-primary btn-lg">Crear producto</button> 
          <button type="reset" class="btn btn-primary btn-lg">Borrar</button>
      </div>
    </form>
  
      </article>
    </section>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>