<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

   <div class="profile-img">
  <img src="/img/addPhoto.png" alt="" />
  <div class="file btn btn-lg btn-primary">
    Change Photo
    <input type="file" name="file" />
  </div>
</div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>