<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

  <form action="GET" class="formAgregar">
    <div class="agregarFoto profile-img">
      <img src="/img/addPhoto.png" alt="" />
      <div class="file btn btn-lg btn-primary">
        <span>Agregar foto</span>
        <input type="file" name="file" />
      </div>
    </div>
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Precio">
    <textarea name="" id="" cols="30" rows="4" placeholder="Descripcion"></textarea>
    <button class="botonCProd" type="button">Publicar Producto</button>
  </form>
  

    <%- include('./partials/footer.ejs') %> 
</body>
</html>