<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %> 
    <script defer src="../forms.js"></script>

<body>
    <%- include('./partials/header.ejs') %> 
    <section class="contenedorLogIn">
        <article class="aside">
            <div class="logoEnvios">
                <i class="fas fa-truck"></i>
                <p>Envios gratis a toda Argentina en compras superiores a $5000</p>
            </div>
            <div class="logoListaDeseos">
                <i class="fas fa-thumbtack"></i>
                <p>Utiliza la Lista de Deseos para guardar tus productos favoritos</p>
            </div>
        </article>   
        <article class="logIn">
            <h3>Iniciar Sesion</h3>
            <div class="logInExterno">
                <button class='btn btn-primary'>Iniciar con Google</button>
                <button class='btn btn-primary'>Iniciar con Facebook</button>
            </div>
            <span class="separadorLogIn">OR</span>
            <div class="logInInterno">
                <form action="/redirect" method="POST" enctype="multipart/form-data">
                    <input type="text" placeholder="email" class="email form-control" id="inputLogInEmail">
                    <input type="password" placeholder="contrasena" class="contrasena form-control" id="inputLogInContrasena">
                    <div id="logInErrores"></div>
                    <p><a href="#">Olvide mi contrasena</a></p>
                    <div class="botonesLogIn">
                        <button class="btn btn-success" id="buttonLogIn">Ingresar</button>
                        <button class="btn btn-success" id="btnNuevaCuenta">Nueva Cuenta</button>
                    </div>
                </form>
            </div>
            <div class="crearCuenta" id="crearCuenta">
                <div class="contenedorCrearCuenta">
                    <input type="text" placeholder="Nombre" class="form-control">
                    <input type="text" placeholder="Apellido" class="form-control">
                    <input type="text" placeholder="Email" class="form-control">
                    <input type="password" placeholder="Contrasena" class="form-control">
                    <button class="btn btn-success" id="btnCrearCuenta">Crear Cuenta</button>
                </div>
            </div>
        </article>
    </section>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
