<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Menu de inicio'}) %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <div class="paymentMethodsCards">
        <h4 class="cardPayTitle"><strong>¿Cómo puedo devolver mi pedido?</strong></h4>
        <br>

        <div class="cardPay">
            <p class="titleCardPayment">DEVOLUCIONES</p class="titleCardPayment">
            <hr>
            <p>
                <strong>IMPORTANTE:</strong> Si tu orden fue generada en los últimos 30 días, nuestro Servicio de Atención a cliente podrá reembolsar integro el monto de tu devolución y además aún puedes hacer cambios en nuestras tiendas físicas.

                Si tu orden no fue generada en los últimos 30 días, se podrá realizar únicamente cambios del mismo producto (mismo código, diferente color opcional) y reembolsos.        
            </p>
            <br>
        </div>

        <div class="cardPay">
            <br>
            <p>
                <strong>ANTES DE CONTACTARNOS TENÉ LISTA LA SIGUIENTE INFORMACIÓN:</strong>
                <br>
                1. Verificá que el producto esté nuevo, sin uso, con su caja y/o envoltorio original, y con sus etiquetas sin haber sido desprendidas.
                <br>
                2. Tené listo el Número de Pedido / Orden que encuentras en tu correo de confirmación.
                <br>
                3. Identificá el tipo de solicitud a ingresar
               <br>
                    3.1. <strong>Devolución:</strong> deseas devolver el producto y solicitar el reembolso de tu dinero ya que este no fue de tu agrado.
                    <br>
                    3.2. <strong>Cambio:</strong> deseas realizar un cambio de talla ya que el adquirido quedó muy grande/chico. Consulta la disponibilidad del producto en nuestra página web.
                    <br>
                    <br>
                4. Seleccioná la forma para devolver el paquete que más se adapte a tus necesidades 
                <br>
                4.1. Pick up (consultar dirección que más se adapte a tus necesidades):  Si querés que tu pedido sea recogido, tené lista la dirección a donde llegará el transportista
                <br>
                4.2. Drop off : si prefieres, podés llevar el producto directamente a una de las sucursales de nuestros transportistas aliados:
                <br>
                4.3. •Si tu pedido fue entregado por OCA. Ingresá al sitio, ubicá la pestaña “Guía de Sucursales”, selecciona tu región y encuentra tu sucursal más cercana.
                <br>
                4.4. •Si tu pedido fue entregado por CorreoArgentino verifica las sucursales disponibles.
                <br>
                <br>
                5. Ahora que tienes claro los requisitos e información relevante para devolver tus artículos. Iniciá tu proceso de devolución:
                <br>
                5.1. Comunícate con nuestro Centro de Atención  a Clientes  a través de cualquiera de nuestros canales.
                Recordá que también puedes realizar Cambios en Tienda.
                <br>
                <br> 
                <strong>¡Recordá que primero debes contactarte con nosotros!</strong>
            </p>
            <br>
        </div>

    </div> 

    <%- include('./partials/footer.ejs') %> 
</body>
</html>
