<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Log in'})  %> 
<body>
    <%- include('./partials/header.ejs') %> 
    
    <h1>Hola usuario</h2>

    <img src="/img/2.png">
    <%- include('./partials/footer.ejs') %> 
    <div class="alert alert-success"><%= user.email %> </div>
</body>
</html>
