<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Perfil'})  %> 
<body>
   
    <h3> Bienvenido
        <%= userLogged.mail %> 
    </h3>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
