<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {'title': 'Log in'})  %> 
<body>
    <%- include('./partials/header.ejs') %> 
    
    <h1>Hola usuario</h2>
    <img src="/img/2.png">
    <div class="alert alert-success">
        <h2>email@gmail.com</h2>
    </div>
    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>
