<!--<footer> 
    <div class="redesSociales">
        <p>Redes Sociales</p>
        <div>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="linksFooter">
        <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
        </ul>
    </div>
    <div class="contenedorLogo">
        <img src="/public/img/logo.svg" alt="">
    </div>
</footer> -->

<footer class="footer">
    <section class="promoCards">

        <div class="cardPromos">
            <div class="promoMethods">
                <i class="fas fa-gamepad iconCard"></i>
                <p class="textCard">Tenemos los mejores y mas nuevos e innovadores
                    productos del mercado. En nuestra tienda podes conseguir cada cosa 
                    que precises.
                </p>
            </div>
        </div>
    
        <div class="cardPromos">
            <div class="promoMethods">
                <i class="far fa-check-circle iconCard"></i>
                <p class="textCard">Somos revendedores 100% verificados por cada
                    marca de la cual se este vendiendo un producto. Toda la mercaderia
                    es original y traída directamente de fabrica.
                </p>
            </div>
        </div>
    
        <div class="cardPromos">
            <div class="promoMethods">
                <i class="fas fa-shield-alt iconCard"></i>               
                <p class="textCard">Absolutamente todos los datos estan protegidos y no
                    seran revelados ni compartidos con terceros. 
                    El pago se onine se realiza de forma segura y encriptada
               </p>
            </div>
        </div>

    </section>

    <section class="personalInfo">
        <div class="ubicacion">
            <i class="fas fa-map-marker-alt iconUbicacion"></i>
                <a href="https://www.google.com.ar/maps/place/Estadio+Monumental+Antonio+Vespucio+Liberti/@-34.5453018,-58.4519636,718m/data=!3m2!1e3!4b1!4m5!3m4!1s0x95bcb43ae6018ddf:0x3d7f60a75bfa308a!8m2!3d-34.5453062!4d-58.4497749" class="ubicacionLink" target="_blank">Av. Pres. Figueroa Alcorta 7597, C1428 CABA</a>
                <a href="https://www.google.com.ar/maps/place/Estadio+Monumental+Antonio+Vespucio+Liberti/@-34.5453018,-58.4519636,718m/data=!3m2!1e3!4b1!4m5!3m4!1s0x95bcb43ae6018ddf:0x3d7f60a75bfa308a!8m2!3d-34.5453062!4d-58.4497749" class="link" target="_blank">Ver en mapa</a>
        </div>
    </section>

    <div class="socialMedia">
        <a href="https://www.instagram.com/geekware_/" target="_blank"><i class="fab fa-instagram iconSocialMedia"></i></a>
        <a href="https://twitter.com/Geekware_" target="_blank"><i class="fab fa-twitter iconSocialMedia"></i></a>
        <a href="https://www.tiktok.com/@geekware_?lang=es" target="_blank"><i class="fab fa-tiktok iconSocialMedia"></i></a>
        <a href="https://www.linkedin.com/in/geekware-srl-765b6522a/" target="_blank"><i class="fab fa-linkedin-in iconSocialMedia"></i></a>
        <a href="mailto:geekwaresrl@gmail.com"><i class="fas fa-envelope iconSocialMedia"></i></a>
    </div>
    <p class="copyText">Copyrigth &copy Todos los derechos reservados Geekware SRL 2022</p>
</footer>
