<footer class="footer">
    <section class="promoCards">

        <div class="cardPromos">
            <div class="promoMethods">
                <i class="fas fa-gamepad iconCard"></i>
                <p class="textCard">Tenemos los mejores y mas nuevos e innovadores
                    productos del mercado. En nuestra tienda podes conseguir cada cosa 
                    que precises.
                </p>
            </div>
        </div>
    
        <div class="cardPromos">
            <div class="promoMethods">
                <i class="far fa-check-circle iconCard"></i>
                <p class="textCard">Somos revendedores 100% verificados por cada
                    marca de la cual se este vendiendo un producto. Toda la mercaderia
                    es original y traída directamente de fabrica.
                </p>
            </div>
        </div>
    
        <div class="cardPromos">
            <div class="promoMethods">
                <i class="fas fa-shield-alt iconCard"></i>               
                <p class="textCard">Absolutamente todos los datos estan protegidos y no
                    seran revelados ni compartidos con terceros. 
                    El pago se onine se realiza de forma segura y encriptada
               </p>
            </div>
        </div>

    </section>

    <section class="personalInfo">
        <div class="ubicacion">
            <i class="fas fa-map-marker-alt iconUbicacion"></i>
                <a href="https://www.google.com.ar/maps/place/Estadio+Monumental+Antonio+Vespucio+Liberti/@-34.5453018,-58.4519636,718m/data=!3m2!1e3!4b1!4m5!3m4!1s0x95bcb43ae6018ddf:0x3d7f60a75bfa308a!8m2!3d-34.5453062!4d-58.4497749" class="ubicacionLink" target="_blank">Av. Pres. Figueroa Alcorta 7597, C1428 CABA</a>
                <a href="https://www.google.com.ar/maps/place/Estadio+Monumental+Antonio+Vespucio+Liberti/@-34.5453018,-58.4519636,718m/data=!3m2!1e3!4b1!4m5!3m4!1s0x95bcb43ae6018ddf:0x3d7f60a75bfa308a!8m2!3d-34.5453062!4d-58.4497749" class="link" target="_blank">Ver en mapa</a>
        </div>
    </section>

    <div class="socialMedia">
        <a href="https://www.instagram.com/geekware_/" target="_blank"><i class="fab fa-instagram iconSocialMedia"></i></a>
        <a href="https://twitter.com/Geekware_" target="_blank"><i class="fab fa-twitter iconSocialMedia"></i></a>
        <a href="https://www.tiktok.com/@geekware_?lang=es" target="_blank"><i class="fab fa-tiktok iconSocialMedia"></i></a>
        <a href="https://www.linkedin.com/in/geekware-srl-765b6522a/" target="_blank"><i class="fab fa-linkedin-in iconSocialMedia"></i></a>
        <a href="mailto:geekwaresrl@gmail.com"><i class="fas fa-envelope iconSocialMedia"></i></a>
    </div>
    <p class="copyText">
        <a class="copyrigthLink" data-toggle="modal" data-target="#exampleModalLong">copyright &copy</a></a> Todos los derechos reservados Geekware SRL 2022</p>
    <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">copyright Geekware</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <strong>Derechos de autor</strong>
            <br>
            Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) están sujetos a derechos de propiedad por las leyes de Derechos de Autor y demás Leyes relativas Internacionales a Geekware y de terceros titulares de los mismos que han autorizado debidamente su inclusión.
            <br>
            En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación publica sobre dichos contenido sin la previa autorización expresa de Geekware o de los titulares correspondientes.
            <br>
            El uso de imágenes, fragmentos de videos y demás material que sea objeto de protección de los derechos de autor, será exclusivamente para fines educativos e informativos, y cualquier uso distinto como el lucro, reproducción, edición o modificación, será perseguido y sancionado por el respectivo titular de los Derechos de Autor.
            <br>
          <strong>Derechos de uso</strong>
            <br>
            Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo explotar cualquier parte de este servicio sin la autorización previa por escrito de Geekware o de los titulares correspondientes. Sin embargo, usted podrá bajar material a su computadora personal para uso exclusivamente personal o educacional y no comercial limitado a una copia por página. Usted no podrá remover o alterar de la copia ninguna leyenda de Derechos de Autor o la que manifieste la autoría del material.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</footer>

