<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {'title': 'Wishlist'}) %> 
<body>

    <%- include('../partials/header.ejs') %> 

<section class="contenedorWishlist">
    <div class="contenedorTituloWishlist">
        <h2>Wishlist</h2>
        <p>Para todas tus necesidades de compra</p>
    </div>
    <div class="iconosWishlist">
        <div class="iconoWishlistAhorrarTiempo">
            <i class="fas fa-hourglass-half iconRotate"></i>   
            <p>Ahorra tiempo</p>
        </div>
        <div class="iconoWishlistRevisar">
            <i class="fas fa-eye iconRotate"></i>
            <p>Revisa los precios</p>
        </div>
        <div class="iconoWishlistRegalo">
            <i class="fas fa-gifts iconRotate"></i>
            <p>Concede regalos</p>
        </div>
    </div>
    <div class="contenedorItemsWishlist">
        <div>
            <p>Titulo del producto</p>  
        </div>
        <div>
            <a href="#" class="cartIcon"><i class="fas fa-shopping-cart"></i></a>
            <a href="#" class="deleteIcon"><i class="far fa-times-circle"></i></a>
        </div>
    </div>
    <% if (locals.isLogged) { %>
        <div class="contenedorIniciarSesionWishlist">
         <p>Compra eso que tanto deseas!</p>
        </div>
    <% } else { %>
        <div class="contenedorIniciarSesionWishlist">
            <p>Eres nuevo?</p>
            <a href="/users/login" class="btnMain">Registrate</a>
        </div>
    <% } %>
</section>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>